*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu
{
    background-color:bisque;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.menu ul
{
    display: inline-flex;
    list-style: none;
}
.menu ul li
{
    width: 140px;
    height: 30px;
    padding: 15px;
    text-align: center;
    padding-top: 25px;
}
.menu ul li a
{
    text-decoration: none;
    color: black;
}
.active , .menu ul li:hover
{
    background-color:cornsilk;
    border-radius: 3px;
}
.submenu
{
    display: none;
}
.menu ul li:hover .submenu
{
    display: block;
    position: absolute;
    background-color: bisque;
    margin-top: 26px;
    margin-left: -25px;
}
.menu ul li:hover .submenu ul
{
    display: block;
    margin: 10px;
    text-align: center;
}
.menu ul li:hover .submenu ul li
{
    background-color: transparent;
}
.menu ul li:hover .submenu ul li a:hover 
{
    color:olive;
}
.title 
{
    text-align: center;
    padding: 20px;
}
.cards 
{
    display: grid;   
    grid-template-columns: repeat(4, 1fr);  
    grid-auto-rows: auto;  
    grid-gap: 50px;
    padding: 20px;
}  
.card 
{
    transition: 0.3s;
    padding: 10px;
    background-color: white;
}
.card1
{
    transition: 0.3s;
    padding: 10px;
    background-color:bisque;
    max-width: 30%;
}
  
  .card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  .container 
{
    padding: 2px 16px;
    padding-top: 10px;
    background-color: white;
}
.container1
{
    padding: 2px 16px;
    padding-top: 10px;
    background-color:bisque;
}
  .center 
{
    padding-top: 100px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center1 
{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  .figure
{
    width: 500px;
    height:500px;
    border-radius:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
